{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sign In</title>

    <!-- FAVICON -->
    <link href="https://raw.githubusercontent.com/WhyNotSwitch/Media/main/favicon.png" rel="shortcut icon">

    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>

  <body>
    <script>0</script>
    <header id="header" class="fixed-top ">
      <div class="d-flex align-items-center">
        <a href="{% url 'home' %}" class="logo mr-auto">
          <img src="https://res.cloudinary.com/christwin/image/upload/v1623992912/Switch%28media%29/SwitchLogo_gpuuze.png" alt="" class="img-fluid">
        </a>
      </div>
    </header>
    <section class="body">
      <div class="container" id="container">
        <div class="form-container">
          <form role="form" action="" method="post">
            <h1>Sign in</h1>
                {% block content %}
                {% endblock content %}
                {% csrf_token %}
            <p>
                {% block input %}
    				{{ form }}
                {% endblock input %}
            </p>
              <button type="submit">Submit</button>
          </form>
        </div>
          </div>
    </section>
  </body>
</html>