{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Dashboard{% endblock title %}</title>

  <link rel="shortcut icon" href="https://raw.githubusercontent.com/Nova-electric/Media/master/logo_theme.png"
		type="image/x-icon">

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
		integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
		crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/admin.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-bolt"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Nova-Electric</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">


      {% block account %}

      <!-- Nav Item - Account -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Account</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      {% endblock account %}


      {% if user.account.is_agent %}


      {% block agent %}

      <!-- Nav Item - Agent -->
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'agent:dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Agent</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      {% endblock agent %}

      {% endif %}

      {% block operations %}
      <!-- Nav Item - Operations -->
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Operations</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      {% endblock operations %}

      {% block sites %}
     <!-- Nav Item - Sites -->
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Sites</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      {% endblock sites %}

      {% block meters %}
      <!-- Nav Item - Meters -->
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Meters</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      {% endblock meters %}

      {% block more %}
      <!-- Nav Item - More -->
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'more' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>More</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      {% endblock more %}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <h1 class="h3 mb-0 text-gray-800">{% block pagename %}Dashboard{% endblock pagename %}</h1>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">John Doe</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="profile.html">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="settings.html">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="activity.html">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->


        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div>
            {% block page_brief %}
              Brief information about this page
             <a class="btn btn-sm btn-primary" href="{{ site.get_absolute_query_url }}">Edit User Profile</a>
           {% endblock page_brief %}
            </div><br>

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                role="form" action="" method="post">
            {% csrf_token %}
            <div class="input-group">
            {% block form_input %}
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
             {% endblock form_input %}
             <div class="input-group-append">
               {% block form_button %}
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
               {% endblock form_button %}
              </div>
            </div>
          </form>

          </div>
          {% block content %}
          {% endblock content %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website <span id="year"></span></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"
		integrity="sha512-kBFfSXuTKZcABVouRYGnUo35KKa1FBrYgwG4PAx7Z2Heroknm0ca2Fm2TosdrrI356EDHMW383S3ISrwKcVPUw=="
		crossorigin="anonymous"></script>

  <!-- Core plugin JavaScript-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
		integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ=="
		crossorigin="anonymous"></script>


  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/admin.min.js' %}"></script>

  <script>
    function getYear(){
      let d = new Date();
      let n = d.getFullYear();
      document.getElementById('year').innerHTML = n;
    }
    getYear();
  </script>
</body>

</html>
