<!DOCTYPE html>
{% extends "common/base.html" %}
{% load static %}

   {% block css %}
      {{ block.super }}
      <!-- Custom CSS -->
      <link href="{% static 'css/landing.css' %}" rel="stylesheet" />
   {% endblock css %}

   {% block header_content %}
        <nav class="nav-menu d-none d-lg-block">
           <ul>
              <li class="active-nav"><a href="#hero"><strong>Home</strong></a></li>
              <li><a href="#about"><strong>About</strong></a></li>
              <li><a href="#problems"><strong>Problems</strong></a></li>
              <li><a href="#services"><strong>Services</strong></a></li>
              <li><a href="#impact"><strong>Impact</strong></a></li>
              <!--                    <li><a href="#testimonials"><strong>Testimonials</strong></a></li>-->
              <li><a href="#contact"><strong>Contact</strong></a></li>
           </ul>
        </nav>
        <!-- .nav-menu -->
   {% endblock header_content %}

   {% block body_content %}
      <!-- ======= Hero Section ======= -->
      <section id="hero">
         <div class="hero-container">
            <h1>Electricity Made Easy</h1>
            <h2>With Magic⚡Power, all your NEPA problems goes away</h2>
            <div class="links">
               <a href="#about" class="btn-get-started scrollto">More info</a>
               <a class="btn-services" href="{% url 'waitlist:apply' %}">apply</a>
            </div>
         </div>
      </section>
      <!-- End Hero -->
      <main id="main">
         <!-- ======= About Section ======= -->
         <section id="about" class="about">
            <div class="container">
               <div class="section-title">
                  <h2>About</h2>
                  <h3>About <span>Us</span></h3>
                  <p>We are the electricity company of the future</p>
               </div>
               <div class="row content">
                  <div class="col-lg-6">
                     <p>
                        Magic⚡Power is connecting homes and businesses to reliable and
                        affordable solar powered electricity that will never run out.
                        No more power cuts, Enjoy 24/7 electricity for your home and workplace.
                     </p>
                     <p>
                        Get freedom and peace of mind on our service.
                        You will never have to use candles, petrol generators, or kerosene lamps again.
                        Our service is designed to be
                     </p>
                     <ul class="list">
                        <li><i class="fas fa-check"></i> Stress free</li>
                        <li><i class="fas fa-check"></i> Affordable</li>
                        <li><i class="fas fa-check"></i> Powerful</li>
                     </ul>
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0">
                     <p>
                        But that's not all. By using our service, you are helping to save our beloved <strong><i>planet </i></strong>
                        and the many creatures that call it home.
                     </p><br>
                      <h5><b>How it works.</b></h5>
                     <p>
                        Apply for a connection to get our solar power system, plus a meter,
                         installed at your place (no payments required).
                        Then you can start enjoying your awesome electricity at ₦46.80/kW
                     </p>
                     <a class="btn-learn-more apply" href="{% url 'waitlist:apply' %}">Apply now</a>
                  </div>
               </div>
            </div>
         </section>
         <!-- End About Section -->
         <hr>
         <!-- ======= Problems Section ======= -->
         <section id="problems">
            <div class="slideshow-container">
               <div class="section-title">
                  <h2>Problems</h2>
                  <h3>Facing the <span>Problem</span></h3>
                  <p>A brief look at why Magic⚡Power was founded</p>
               </div>
               <div class="slideshow-inner">
                  <div class="mySlides fade">
                     <img src='https://raw.githubusercontent.com/poweredbymagic/Media/master/satellite-aerial-image-Africa-Earth-night-lights-shutterstock-178142615-1068x602.jpg' style='width: 100%;'
                        alt="A satellite image of sub-saharan africa at night" />
                     <div class="text">A satellite image of Africa at night</div>
                  </div>
                  <div class="mySlides fade">
                     <img src='https://raw.githubusercontent.com/poweredbymagic/Media/master/PDS-Urge-Calm-Over-Dumsor-Rumors.jpg' style='width: 100%;'
                        alt="Girls studying with a kerosene lantern" />
                     <div class="text">Girls studying with a kerosene lantern</div>
                  </div>
                  <div class="mySlides fade">
                     <img src='https://raw.githubusercontent.com/poweredbymagic/Media/master/Fossil-fuel-generators.jpg' style='width: 100%;'
                        alt="businesses using dirty generators" />
                     <div class="text">Businesses using dirty generators</div>
                  </div>
                  <div class="mySlides fade">
                     <img src='https://raw.githubusercontent.com/poweredbymagic/Media/master/ezgif.com-crop.jpg' style='width: 100%;'
                        alt="Waiting for the power to be restored" />
                     <div class="text">Waiting for the power to be restored</div>
                  </div>
               </div>
               <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
               <a class="next" onclick='plusSlides(1)'>&#10095;</a>
            </div>
            <br>
            <div style='text-align: center;'>
               <span class="dot" onclick='currentSlide(1)'></span>
               <span class="dot" onclick='currentSlide(2)'></span>
               <span class="dot" onclick='currentSlide(3)'></span>
               <span class="dot" onclick='currentSlide(4)'></span>
            </div>
         </section>
         <!-- End Services Section -->
         <hr>
         <!-- ======= Services Section ======= -->
         <section id="services" class="services">
            <div class="container">
               <div class="section-title">
                  <h2>Services</h2>
                  <h3><span>Services </span>we've included</h3>
                  <p>We are determined to make your experience with us as smooth as possible</p>
               </div>
               <div class="row">
                  <div class="col-md-6 col-lg-3 flex-fix align-items-stretch mb-5 mb-lg-0">
                     <div class="icon-box">
                        <div class="icon"><i class="fas fa-tachometer-alt"></i></div>
                        <h4 class="title"><a href="">Metering</a></h4>
                        <p class="description">
                           NO estimated blls, you get to pay for just the elctricity you use</p>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 flex-fix align-items-stretch mb-5 mb-lg-0">
                     <div class="icon-box">
                        <div class="icon"><i class="fas fa-headset"></i></div>
                        <h4 class="title"><a href="">Care</a></h4>
                        <p class="description">
                           You can contact us for help anytime, anyday. Even on Christmas day</p>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 flex-fix align-items-stretch mb-5 mb-lg-0">
                     <div class="icon-box">
                        <div class="icon"><i class="fas fa-mobile-alt"></i></div>
                        <h4 class="title"><a href="">Apps</a></h4>
                        <p class="description">
                           Take control of your electricity everywhere you go.
                           Pay bills or turn of the power from anywhere in the world.
                        </p>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 flex-fix align-items-stretch mb-5 mb-lg-0">
                     <div class="icon-box">
                        <div class="icon"><i class="fas fa-smile"></i></div>
                        <h4 class="title"><a href="">Discounts</a></h4>
                        <p class="description">Get lots of discounts for saving the planet</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Services Section -->
         <hr>
         <!-- ======= social-impact Section ======= -->
         <section id="impact">
            <div class="container wow fadeInUp">
               <div class="row">
                  <div class="col-md-12">
                     <div class="section-title">
                        <h2>Impact</h2>
                        <h3>Making an <span>Impact</span></h3>
                        <p class="title-description">
                           We are proud to be making a huge difference in the lives of our users</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-6 impact-item">
                        <div class="impact-icon"><i class="fas fa-lightbulb"></i></div>
                        <h4 class="impact-title"><a href="#">Affordable and clean energy (SDG7)</a></h4>
                        <p class="impact-description">
                           Our goal is to become a multi-national provider of clean, affordable energy products,
                           designed to reach even the most remote customers.
                        </p>
                     </div>
                     <div class="col-lg-4 col-md-6 impact-item">
                        <div class="impact-icon"><i class="fas fa-briefcase"></i></div>
                        <h4 class="impact-title"><a href="#">Decent work and economic growth (SDG8)</a></h4>
                        <p class="impact-description">
                           Magic⚡Power is bridging the gap of electricity access that has hindered
                           employment and economic growth in many African communities
                        </p>
                     </div>
                     <div class="col-lg-4 col-md-6 impact-item">
                        <div class="impact-icon"><i class="fas fa-coins"></i></div>
                        <h4 class="impact-title"><a href="#">No poverty (SDG1)</a></h4>
                        <p class="impact-description">
                           By having access to power, we are making it easier for families to escape poverty,
                           as they can build a business from home, educate children and better managing their health.
                        </p>
                     </div>
                     <div class="col-lg-4 col-md-6 impact-item">
                        <div class="impact-icon"><i class="fas fa-industry"></i></div>
                        <h4 class="impact-title"><a href="#">Industry, Innovation, and Infrastructure (SDG9)</a></h4>
                        <p class="impact-description">
                           Magic⚡Power offers efficient and affordable power to awaken the next generation
                           of entrepreneurs, and inspire creativity across across Africa.
                        </p>
                     </div>
                     <div class="col-lg-4 col-md-6 impact-item">
                        <div class="impact-icon"><i class="fas fa-globe-africa"></i></div>
                        <h4 class="impact-title"><a href="#">Climate action (SDG13)</a></h4>
                        <p class="impact-description">
                           Magic⚡Power is taking the fight against carbon emissions very seriously.
                           Our solar power systems help our customers to reduce carbon emissions and protect the planet.
                        </p>
                     </div>
                     <div class="col-lg-4 col-md-6 impact-item">
                        <div class="impact-icon"><i class="fas fa-city"></i></div>
                        <h4 class="impact-title"><a href="#">Sustainable cities and communities (SDG11)</a></h4>
                        <p class="impact-description">
                           Our mission is to builds resilient and vibrant communities of tomorrow that unleash
                           the potential of Africa's people and its natural resources.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End social-impact Section -->
         <!-- ======= Subscribe Section ======= -->
         <section id="subscribe">
            <div class="container wow fadeInUp">
               <div class="row">
                  <div class="col-md-8">
                     <h3 class="subscribe-title">Notice!</h3>
                     <p class="subscribe-text">
                         Due to the limited supply of installation equipment, we may have to
                         temporarily shutdown the submitting of any new applications until further notice.
                         However, applications still remain open while stock lasts.
                     </p>
                  </div>
                  <div class="col-md-4 subscribe-btn-container">
                     <a class="subscribe-btn" href="{% url 'waitlist:apply' %}">Apply for a connection now</a>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Subscribe Section -->
         <!-- ======= Testimonials Section ======= -->
         <!-- <section id="testimonials">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                <div class="section-title">
                    <h2>Testimonials</h2>
                    <h3>Our <span>Testimonials</span></h3>
                        <p class="title-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses
                            haec dicturum fuisse</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="profile">
                            <div class="pic"><img src="assets/img/client-1.jpg" alt=""></div>
                            <h4>Saul Goodman</h4>
                            <span>Lawless Inc</span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="quote">
                            <b><img src="assets/img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem
                            cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget
                            id, aliquam eget nibh et. Maecen aliquam,
                            risus at semper. <small><img src="assets/img/quote_sign_right.png" alt=""></small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="quote">
                            <b><img src="assets/img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste
                            natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis architecto
                            beatae. <small><img src="assets/img/quote_sign_right.png" alt=""></small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="profile">
                            <div class="pic"><img src="assets/img/client-2.jpg" alt=""></div>
                            <h4>Sara Wilsson</h4>
                            <span>Odeo Inc</span>
                        </div>
                    </div>
                </div>

            </div>
            </div>
            </section> --->
         <!-- End Testimonials Section -->
         <!-- ======= Contact Section ======= -->
         <section id="contact" class="contact">
            <div class="container">
               <div class="section-title">
                  <h2>Contact</h2>
                  <h3>Contact <span>Us</span></h3>
                  <p>We'll love to hear from you.
                  </p>
               </div>
               <!-- ======= Map Section ======= -->
               <!-- <div>
                  <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJZf__t7nRBARfQ5mMIyiuP8&key=AIzaSyDoOpGvbeXfEtzXnaKVvV2sUkCiUsdPto4" frameborder="0" allowfullscreen></iframe>
                  </div> -->
               <!-- ======= End Map Section ======= -->
               <div class="row mt-5">
                  <div class="col-lg-4">
                     <div class="info">
                        <div class="address">
                           <i class="fas fa-map-marker-alt"></i>
                           <h4>Location:</h4>
                           <p>University of Nigeria Nsukka Campus, Nsukka, Enugu, Nigeria</p>
                        </div>
                        <div class="email">
                           <i class="fas fa-envelope"></i>
                           <h4>Email:</h4>
                           <p>info.poweredbymagic@gmail.com</p>
                        </div>
                        <div class="phone">
                           <i class="fas fa-phone"></i>
                           <h4>Call:</h4>
                           <p>+234 808 114 7003</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8 mt-5 mt-lg-0">
                     <form class="php-email-form">
                        <div class="form-row">
                           <div class="col-md-6 form-group">
                              <input type="text" name="name" class="form-control" id="name"
                                 placeholder="Your Name" />
                           </div>
                           <div class="col-md-6 form-group">
                              <input type="email" class="form-control" name="email" id="email"
                                 placeholder="Your Email" data-rule="email" />
                           </div>
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" name="subject" id="subject"
                              placeholder="Subject" />
                        </div>
                        <div class="form-group">
                           <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                        </div>
                        <div class="text-center"><button type="submit" id="send">Send Message</button></div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Contact Section -->
      </main>
      <!-- End #main -->
   {% endblock body_content %}

   {% block js %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js" integrity="sha512-g2PN+aYR0KupTVwea5Ppqw4bxWLLypWdd+h7E0ydT8zF+/Y2Qpk8Y1SnzVw6ZCVJPrgB/91s3VfhVhP7Y4+ucw==" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static 'js/slides.js' %}"></script>
      <!-- Template Main JS File -->
      <script src="{% static 'js/landing.js' %}"></script>
   {% endblock js %}
