{% extends 'common/more.html' %}

{% block title %} More {% endblock title %}

{% block pagename %} Become A Top-up Agent {% endblock pagename %}

{% block page_brief %}
    Fill form to create agent profile
{% endblock page_brief %}


{% block form_input %}
    {{ form.email }}
{% endblock form_input %}

{% block form_button %}
    <button class="btn btn-primary" type="submit">
      <i class="fas fa-check fa-sm"></i>
    </button>
{% endblock form_button %}


{% block content %}
{% endblock content %}
