{% extends 'agent/dashboard.html' %}

{% block title %} Agent Top-up {% endblock title %}

{% block pagename %} Agent Top-up {% endblock pagename %}

{% block page_brief %}
    Use form for agent top-up
{% endblock page_brief %}


{% block form_input %}
    {{ form.code }}
    {{ form.mobile }}
    {{ form.amount }}
{% endblock form_input %}


{% block form_button %}
    <button class="btn btn-primary" type="submit">
      <i class="fas fa-check fa-sm"></i>
{% endblock form_button %}

{% block content %}
    <br><br>
    <h4>Pending Transactions</h4>
    <table>
    {% for transaction in pending %}
        Amount: {{ transaction.amount }} ||
        Customer: {{ transaction.consumer.user }} ||
        Time: {{ transaction.time }}
        <a class="btn btn-danger btn-sm" href="{{ transaction.confirmation_url }}">Confirm</a>
        <br>
        {% endfor %}
    </table>
{% endblock content %}