{% extends 'common/dashboard.html' %}


{% block title %}Dashboard - Account Top up{% endblock title %}
{% block pagename %} Account Top up {% endblock pagename %}


{% block account %}

    <!-- Nav Item - Account -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Account</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

{% endblock account %}

{% block form_input %}
{% endblock form_input %}

{% block form_button %}
{% endblock form_button %}

