<!DOCTYPE html>
{% load static %}

   {% block title %}
      Switch Application Form
   {% endblock title %}

   {% block css %}
      <!-- Custom CSS -->
      <link href="{% static 'css/application.css' %}" rel="stylesheet" />
      <!-- Responsive CSS -->
      <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
   {% endblock css %}

   {% block body_content %}
    <header id="page_top" class="light_bulb">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="header-content">
              <div class="header-content-inner">
                <div class="d-flex align-items-center"></div>
                <h1>
                  <b>No NEPA?</b>
                </h1>
                <p>
                  Are you tired of all the power outage,
                  and receiving bills for electricity that you didn't use?
                  <br><br>
                  Magic⚡Power dey for you.<br>
                  Enjoy 24/7 electricity on our service.
                  Apply now to get connected for free.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-container">
              <div class="form-mockup">
                <h2>Apply Now</h2>
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.first_name }}
                    {{ form.first_name.error }}
                  </div>
                  <div class="form-group">
                    {{ form.last_name }}
                    {{ form.last_name.error }}
                    {% for radio in form.gender %}
                       <div class="form-check form-check-inline">
                           {{ radio.tag }}
                           <label class="form-check-label" for="{{ radio.id_for_label }}">
                               {{ radio.choice_label }}
                           </label>
                       </div>
                    {% endfor %}
                  </div>

                  <h4 class="med">How do we contact you?</h4>
                  <div class="form-group">
                    {{ form.email }}
                    {{ form.email.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.mobile }}
                    {{ form.mobile.errors }}
                  </div>
                  <h4 class="med">
                    What address would you want this service installed
                  </h4>
                  <div class="form-group">
                    {{ form.address }}
                    {{ form.address.errors }}
                    {{ form.state }}
                    {{ form.state.errors }}
                    {% for radio in form.type %}
                       <div class="form-check form-check-inline">
                           {{ radio.tag }}
                           <label class="form-check-label" for="{{ radio.id_for_label }}">
                               {{ radio.choice_label }}
                           </label>
                       </div>
                    {% endfor %}
                  </div>

                  <h4 class="med">How did you learn about this service?</h4>
                  <div class="form-group">
                    {{ form.lead }}
                    {{ form.lead.errors }}
                  </div>
                  <button type="submit" class="btn quote_btn">
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="pac-container pac-logo" style="display: none"></div>
   {% endblock body_content %}

   {% block footer %}
      <footer class="page-footer font-small stylish-color-dark pt-4">
        {% block copyright %}
        {% endblock copyright %}
      </footer>
   {% endblock footer %}
